.aviso{
    color: rgb(180, 25, 25);
}

.btn1 button:hover {
    background-color: #00FF7F;
}

.btn2 button:hover {
    background-color: #A9A9A9;
}

.href a:hover{
    background-color: #00CED1;
}

.div-size-small {
    width: 50%;
}

.div-size-large {
    width: 100%;
}

.button-color {
    background-color: #8B008B;
    color: #fff;
}