html,
body {
  height: 100%;
}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: honeydew;
}
.layout-form-title {
  font-size: 40px;
  color: #fff;
  line-height: 1.2;
  text-align: center;

  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #8B008B;
  padding-top: 50px;
  padding-bottom: 39px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.font-config{
  font-size: large;
}

.div-size-small {
  width: 50%;
}
.div-size-large {
  width: 100%;
}
.button-color {
  background-color: #8B008B;
  color: #fff;
}
.div-btn1 button:hover {
  background-color: #00FF7F;
}
.div-btn2 button:hover {
  background-color: #A9A9A9;
}
.div-href a:hover{
  background-color: #00CED1;
}
.form-signin {
  width: 800px;
  padding: 100px;
  height: auto;
  margin: auto;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 18px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.card-signin .card-body {
  padding: 2rem;
}
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}